.parent{
    border: 1px solid black;
    background-color: burlywood;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 10px 10px 10px 10px;
}
.child{
    background-color: crimson;
    border: 2px solid rgb(78, 4, 148);
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.child-2{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.child-3{
    grid-row-start: 3;
    grid-row-end: ;
    grid-column-start: 3;
    grid-column-end: 4;
}
.child-4{
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 6;
    /* one more shorthand transition-property
    syntax: grid-area: row-start / column-start / row-end / column-end; */
    grid-area: 1/4/2/5;
}
.child-5{
    /* grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3; */
    grid-row: 1/4;
    grid-column: 5/6;
}
